.mgt2
	&.sheet
		textarea
			color: var(--mgt2-input-color)
			background-color: var(--mgt2-input-bgcolor)
			font-family: "Roboto", sans-serif
			font-size: 13px
			font-stretch: 100%

	input:focus,
	textarea:focus,
	select:focus
		outline: none
		box-shadow: none

	.checkbox-small
		flex: none!important
		width: auto!important
		height: auto!important
		margin: 0!important

	.field-groups
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		align-items: center
		justify-content: space-between
		gap: 0.5rem

	.field-group
		display: flex
		flex-direction: column
		label
			text-transform: uppercase
			font-weight: 700
			font-size: 12px
			font-family: var(--mgt2-cond)
			letter-spacing: 0.1em
			color: var(--mgt2-subrow-color)
	input
		&.field
			color: var(--mgt2-input-color)
			background-color: var(--mgt2-input-bgcolor)
			font-size: 13px
		&.field-item-name
			color: var(--mgt2-input-color)
			background-color: var(--mgt2-input-bgcolor)
			height: auto
			font-size: 2rem
			font-weight: 700
			font-family: "Roboto Condensed", sans-serif

	.editor
		min-height: 3rem
		border: 1px solid var(--mgt2-editor-border)
		height: 100%

	label
		&.mgt2-checkbox
			display: flex
			flex-direction: row
			align-items: center
			input
				margin: 0 0.3rem 0 0
