{{! A root part is unwrapped into .window-content, so the spine and the main column are siblings
    and the grid that places them lives on .itemsheet. The spine's class is also what _colors.sass
    re-anchors the palette on. }}
<div class="itemsheet-header"><span>{{localize spine}}</span></div>

<div class="imain">
	<div class="ihd">
		<img class="iportrait" src="{{item.img}}" alt="{{item.name}}" data-edit="img" data-action="editImage" data-tooltip="{{item.name}}" />
		<div class="idy">
			<div class="iname">
				<span class="play-only">{{item.name}}</span>
				<input class="f edit-only" name="name" type="text" value="{{item.name}}" />
			</div>
			{{#if tags}}
			<div class="isub play-only">{{#each tags}}<span>{{this}}</span>{{/each}}</div>
			{{/if}}
			{{#if subTypes}}
			<div class="isub edit-only">
				<label>
					<span class="lbl">{{localize 'MGT2.Items.Type'}}</span>
					<select class="f" name="system.subType">{{selectOptions subTypes selected=system.subType localize=true}}</select>
				</label>
			</div>
			{{/if}}
		</div>
	</div>

	{{#each blocks as |block|}}
	{{> (lookup block "template") ../this}}
	{{/each}}
</div>
