<form class="{{cssClass}} itemsheet" autocomplete="off">
  <div class="itemsheet-header"><label>{{ localize 'MGT2.Specie' }}</label></div>
  <div class="itemsheet-panel">
    <div class="itemsheet-maincol">
      <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
    </div>
    <div class="w-100">
      <input class="field item-name" name="name" type="text" value="{{item.name}}" />
      <div class="field-group mt-1">
        <label>{{ localize 'MGT2.Items.Description' }}</label>
        <textarea name="system.description" rows="6">{{system.description}}</textarea>
    </div>
    </div>
  </div>
</form>